<!DOCTYPE html>
<html>
  <head>
    <title>BOOKERS3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="nav">
  		<ul>
  		<% if user_signed_in? %>
  		<li>
  		Home
  		</li>
  		<li>
  		User
  		</li>
  		<li>
  		Books
  		</li>
  		<li>
  		logout
  		</li>
  		<% else %>
  		<li>
  		Home
  		</li>
  		<li>
  		About
  		</li>
  		<li>
  		<%= link_to "sign up",new_user_ragistration_path %>
  		</li>
  		<li>
  		<%= link_to "login",new_user_session_path %>
  		</li>
  		<% end %>
        </ul>
    </div>
    <%= yield %>
  </body>
</html>
